{% extends 'base.html' %}
{% block content %}
<form action="">
    <div class="mb-3">
        <label class="form-label">Search for Pinterest:
        </label>
        <input type="text" name="searchPinterest" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
        Search
    </button>
</form>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for pinterest in pinterests %}
    <div v-for="pinterest in pinterests" class="col">
        <div class="card" >
            <img class="card-img-top" src="{{ pinterest.image.url }}" />
            <div class="card-body">
                <a href="{% url 'detail' pinterest.id %}">
                <h5 class="card-title fw-bold">{{ pinterest.title }}</h5>
                </a>
                <p class="card-text">{{ pinterest.description }}</p>
                {% if pinterest.url %}
                <a href="{{ pinterest.url }}" class="btn btn-primary"> Pinterest Link</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<br>


{% endblock content %}